{% extends 'bootstrap3/bootstrap3.html' %}
{% load bootstrap3 %}
{% load i18n %}

{% block title %}{% trans "Preview your comment" %}{% endblock %}

{% block bootstrap3_content %}
  {% load comments %}
        <div id="container" class="container">
            <div class="row">
            <div class="col-md-8" id="improvetext">
  <form action="{% comment_form_target %}" method="post">{% csrf_token %}
    {% if next %}
      <div><input type="hidden" name="next" value="{{ next }}"/></div>{% endif %}
    {% if form.errors %}
      <h1>{% blocktrans count counter=form.errors|length %}Please correct the error below{% plural %}Please correct the errors below{% endblocktrans %}</h1>
    {% else %}
      <h1>{% trans "Preview your comment" %}</h1>
      <blockquote>{{ comment|linebreaks }}</blockquote>
      <p>
        {% trans "and" %} <input type="submit" name="submit" class="submit-post" value="{% trans "Post your comment" %}"
                                 id="submit"/> {% trans "or make changes" %}:
      </p>
    {% endif %}
    {% for field in form %}
      {% if field.is_hidden %}
        <div>{{ field }}</div>
      {% elif field.name == "honeypot" %}

        {% if field.errors %}{{ field.errors }}{% endif %}
        <p
                {% if field.errors %} class="error"{% endif %}
                {% ifequal field.name "honeypot" %} style="display:none;"{% endifequal %}>
          {{ field.label_tag }} {{ field }}
        </p>

      {% else %}
        {% bootstrap_field field %}
      {% endif %}
    {% endfor %}
    <p class="submit">
        <input type="submit" name="post" class="submit-post btn btn-primary" value="{% trans "Post" %}"/>
    </p>
  </form>

    </div>
    </div>
    </div>
{% endblock %}
