{% extends "star_ratings/widget_base.html" %}
{% load i18n %}

    {% block rating_detail %}
        <div class="star-ratings-rating-average">{% trans 'Gemiddeld: ' %} <span class='star-ratings-rating-value'>{{ rating.average|floatformat:"-2" }}</span></div>
        <div class="star-ratings-rating-user">{% trans 'Uw keuze: ' %} <span class='star-ratings-rating-value'>{% if user_rating %}{{ user_rating.score }}{% else %}{% trans 'geen' %}{% endif %}</span></div>
        <div class="star-ratings-errors"></div>
    {% endblock rating_detail %}