<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Error | Citizenline</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
  </head>

  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <a class="navbar-brand" href="/">
          <span class="fa fa-music"></span> Citizenline</a>
      </div>
    </nav>

      <div class="container">
          We are sorry for this error....
      </div><!-- /.container -->

  </body>
</html>