@import "compass/css3/transition";

.star-ratings {
    margin-top: 30px;
    width: 320px;
    display: block;
    position: relative;

    ul {
        padding: 0;
        margin:0;
        white-space: nowrap;
        list-style: none outside none;
        overflow: hidden;

        li {
            display: inline-block;
        }
    }
    output {
      font-size: 1em;
      padding: 0em;
    }
}

.star-ratings-rating-full, .star-ratings-rating-empty {
    display: block;
    background: url('/static/star-ratings/images/stars.png') no-repeat;
}

.star-ratings-rating-foreground {
    top: 0;
    position: absolute;
    @include transition-property(width);
    @include transition-duration(0.15s);
    @include transition-timing-function(ease-in);
}

.star-ratings-rating-stars-container {
    display: inline-block;
    position: relative;
    svg {
        width: 32px;
        height: 32px;
        fill: currentColor;
        stroke: currentColor;
    }
    label {
        display: block;
        float: left;
        font-size: 32px;
        height: 1.2em;
        color: #f9b705;
        cursor: pointer;
        border-bottom: 2px solid transparent;
        width: auto;
    }

    input:checked ~ label {
      color: #999;
    }
    input:checked + label {
      color: #f9b705;
      border-bottom-color: #036;
    }
    input:focus + label {
      border-bottom-style: dotted;
    }
    :hover input + label {
      color: #f9b705;
    }
    input:hover ~ label,
    input:focus ~ label,
    input[id="star0"] + label {
      color: #999;
    }
    input:hover + label,
    input:focus + label {
      color: #f9b705;
    }
    input[id="star0"]:checked + label {
      color: #ff2d21;
    }
    [type="submit"] {
      float: none;
    }

}

.star-ratings-rating-value {
    color: #645800;
}

.star-ratings-result {
    background-image: url('data:image/svg+xml;utf8,<svg fill="%23999999" width="32px" viewBox="0 0 560 560" xmlns="http://www.w3.org/2000/svg"><path stroke="%23000" stroke-width="30" d="M512 198.525l-176.89-25.704-79.11-160.291-79.108 160.291-176.892 25.704 128 124.769-30.216 176.176 158.216-83.179 158.216 83.179-30.217-176.176 128.001-124.769z"></path></svg>');
    width: 320px;
    height: 32px;
    display: block;
    background-size: 32px 32px;
    background-repeat: repeat-x;
    overflow: hidden;
    position: relative;
}

.star-ratings-result span {
    background-image: url('data:image/svg+xml;utf8,<svg fill="%23f9b705" width="32px" viewBox="0 0 560 560" xmlns="http://www.w3.org/2000/svg"><path stroke="%23000" stroke-width="30" d="M512 198.525l-176.89-25.704-79.11-160.291-79.108 160.291-176.892 25.704 128 124.769-30.216 176.176 158.216-83.179 158.216 83.179-30.217-176.176 128.001-124.769z"></path></svg>');
    width: 0px;
    height: 32px;
    display: block;
    background-size: 32px 32px;
    background-repeat: repeat-x;
    overflow: hidden;
    position: relative;
}
