{% extends "admin/base.html" %}
{% load admin_static bootstrap_admin_template_tags %}
{% block extrastyle %}
    <link rel="apple-touch-icon" href=""{% static "apple-touch-icon-precomposed.png" %}">
    <link rel="icon" href="{% static "favicon.ico" %}">
    <link rel="stylesheet" type="text/css" href="{% static 'citizenline/css/admin.css' %}" />
{% endblock %}

{% block title %}{{ title }} | {{ site_title|default:_('Django site admin') }}{% endblock %}
  {% block sidebar_menu %}

    <div id="sidebar-menu" class="col-xs-6 col-sm-3 col-md-2 sidebar-menu">
      {% block branding %}
        <a href="{% url 'admin:index' %}" class="django-admin-logo">
          <!-- Django Administration -->
          <img height="100%" src="{% static 'citizenline/images/logo.svg' %}" alt="{{ site_header|default:_('Citizenline administration') }}">
        </a>
      {% endblock branding %}
      {% block filters %}{% endblock filters %}
      {% render_menu_app_list %}
    </div>
  {% endblock sidebar_menu %}


{% block nav-global %}{% endblock %}