{% extends 'bootstrap3/bootstrap3.html' %}
{% load bootstrap3 %}
{% load static %}
{% load ratings %}
{% load comments i18n %}
{% load bettertexts %}

{% block bootstrap3_title %} {{ text.title }} {% endblock %}

{% block bootstrap3_extra_head %}
    <link rel="apple-touch-icon" href="{% static "apple-touch-icon-precomposed.png" %}">
    <link rel="icon" href="{% static "favicon.ico" %}">
    <link rel="stylesheet" href="{% static 'star-ratings/css/star-ratings.css' %}">
    <link rel="stylesheet" href="{% static 'bettertexts/css/bettertext.css' %}">
    <script src="{% static 'star-ratings/js/dist/star-ratings.min.js' %}"></script>
{% endblock %}

{% block bootstrap3_content %}

{% if text.site.profile.header %}
{{ text.site.profile.header|safe }}
{% endif %}
    <div id="container" class="container-fluid">
        <div id="thanks" class="alert alert-info hidden" role="alert">
            Bedankt voor uw reactie!
        </div>
        <h1>{{ text.type.header }}</h1>
        <div class="row">
            {% if text.intro %}
            <div class="col-lg-12">
                <h2>{{ text.title }}</h2>
                <div id="intro">
                    {{ text.intro|safe }}
                </div>
            </div>
            {% endif %}
            <div class="col-lg-8">
                {% if not text.intro %}
                <h2>{{ text.title }}</h2>
                {% endif %}
                <div id="improvetext" role=”region” aria-label=”{{ text.type.header }}”>
                    {{ text.body|safe }}
                </div>
            </div>

            {% if text.type.rating_enabled %}
            <div class="col-lg-4" id="rating">
                <h3>{{ text.type.rating_header }}</h3>
                {% for question in text.type.question_set.all %}
                    {% ratings text question %}
                {% endfor %}
            </div>
            {% endif %}

        </div>

        {% if text.type.comment_enabled %}
        {% if text.active %}
        <div class="row">

            <div class="col-lg-8" id="comment">
                <h3>{{ text.type.comment_header }}</h3>
                {% get_comment_form for text as form %}

                <form action="{% comment_form_target %}" method="post" class="form">{% csrf_token %}
                    <div><input type="hidden" name="next" value="{% url 'bettertexts:detail' text.slug %}#thanks"/></div>

                    <ul>
                      <li>De gemeente verwerkt en beschermt wettelijk uw persoonsgegevens volgens de <a href="https://www.denhaag.nl/nl/verklaring-inzake-gegevensbescherming.htm"> Verklaring inzake Gegevensbescherming</a>.</li>
                      <li>Alle velden zijn verplicht, tenzij anders aangegeven.</li>
                    </ul>

                    {% for field in form %}
                        {% if field.is_hidden %}
                            <div>{{ field }}</div>
                        {% elif field.name == "honeypot" %}
                            {% if field.errors %}
                                <div class="alert alert-danger" role="alert">
                                    {{ field.errors }}
                                </div>
                            {% endif %}

                            <div class="form-group{% if field.errors %} error{% endif %}"
                                    {% ifequal field.name "honeypot" %} style="display:none;"{% endifequal %}>
                                {{ field.label_tag }} {{ field|add_class:"form-control" }}
                            </div>
                        {% else %}

                            {% bootstrap_field field %}

                        {% endif %}
                    {% endfor %}

                    <p class="submit">
                        <input type="submit" name="post" class="submit-post btn btn-primary" value="{% trans "Post" %}"/>
                    </p>
                </form>
            </div>

        </div>
        {% endif %}
        <div class="row">

            <div class="col-lg-8" id="response">
                <h3>{{ text.type.response_header }}</h3>
                {% render_comment_list for text %}
            </div>

        </div>
        {%  endif %}
    </div>
    <script>
        if (location.href.indexOf("#thanks") != -1) {
            document.querySelector("#thanks").setAttribute("class", "alert alert-info")
        }
    </script>

{% if text.site.profile.footer %}
{{ text.site.profile.footer|safe }}
{% endif %}
{% endblock %}
