{% extends 'bootstrap3/bootstrap3.html' %}
{% load bootstrap3 %}
{% load static %}
{% load ratings %}
{% load comments i18n %}
{% load bettertexts %}

{% block bootstrap3_title %} {{ text.title }} {% endblock %}

{% block bootstrap3_extra_head %}
    <link rel="stylesheet" href="{% static 'star-ratings/css/star-ratings.css' %}">
    <script type="text/javascript" src="{% static 'star-ratings/js/dist/star-ratings.min.js' %}"></script>
{% endblock %}

{% block bootstrap3_content %}

    <div id="container" class="container">
        <h2>{{ text.type.header }}</h2>
        <div class="row">
            <div class="col-md-8">
                <h3>{{ text.title }}</h3>
                <div id="improvetext"
                     style="border-bottom: 1px solid #DFDFDF; padding: 35px; box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);">
                    {{ text.body|safe }}
                </div>
            </div>

            {% if text.type.rating_enabled %}
            <div class="col-md-4" id="improvetext">
                <h3>{{ text.type.rating_header }}</h3>
                {% for question in text.type.question_set.all %}
                    <h4>{{ question.question }}</h4>
                    {% ratings text question %}
                {% endfor %}
            </div>
            {% endif %}

        </div>

        {% if text.type.comment_enabled %}
        <div class="row">

            <div class="col-md-8" id="improvetext">
                <h3>{{ text.type.comment_header }}</h3>
                {% get_comment_form for text as form %}

                <form action="{% comment_form_target %}" method="post">{% csrf_token %}
                    <div><input type="hidden" name="next" value="{% url 'detail' text.slug %}"/></div>


                    {% for field in form %}
                        {% if field.is_hidden %}
                            <div>{{ field }}</div>
                        {% elif field.name == "honeypot" %}
                            {% if field.errors %}
                                <div class="alert alert-danger" role="alert">
                                    {{ field.errors }}
                                </div>
                            {% endif %}

                            <div class="form-group{% if field.errors %} error{% endif %}"
                                    {% ifequal field.name "honeypot" %} style="display:none;"{% endifequal %}>
                                {{ field.label_tag }} {{ field|add_class:"form-control" }}
                            </div>
                        {% else %}

                            {% bootstrap_field field %}

                        {% endif %}
                    {% endfor %}

                    <p class="submit">
                        <input type="submit" name="post" class="submit-post btn btn-primary" value="{% trans "Post" %}"/>
                    </p>
                </form>
            </div>

        </div>
        <div class="row">

            <div class="col-md-8" id="improvetext">
                <h3>{{ text.type.response_header }}</h3>
                {% render_comment_list for text %}
            </div>

        </div>
        {%  endif %}
    </div>

{% endblock %}