.sidebar-menu .django-admin-logo {
  background: #f5f5dc;
  border-bottom: 1px solid #222;
  color: #fff;
  display: block;
  height: 61px;
  margin: 0 -20px;
  text-align: center;
}

.field-question .vTextField {
  width: 250px;
}

.field-description .vTextField {
  width: 350px;
}

.ui-sortable th, .ui-sortable td {
  padding: 2px;
}
