{% extends 'base.html' %}
{% load bootstrap3 %}
{% load static %}
{% load i18n %}

{% block bootstrap3_content %}

  <div class="row">
    <div class="col-md-12">
        <div class="text-center">
          <h2>Home for citizenline</h2>
        </div>
    </div>
  </div>

    <h3>{% trans "Send an activation link" %}</h3>
    <form method="post" action="{% url "email_registration_form" %}"
        class="well" id="registration">
      {% csrf_token %}
      <div class="controls">
        <input id="id_email" type="text" name="email" maxlength="30"
          placeholder="{% trans "Email address" %}">
      </div>
      <button type="submit" class="btn btn-primary">
        {% trans "Register" %}</button>
    </form>

<script>
function init_registration($) {
  $('#registration').on('submit', function() {
    var $form = $(this);
    $.post(this.action, $form.serialize(), function(data) {
      $('#registration').replaceWith(data);
      init_registration($);
    });
    return false;
  });
}
$(init_registration);
</script>

{% endblock %}
