{% extends 'bootstrap3/bootstrap3.html' %}
{% load static %}
{% load ratings %}
{% load comments %}

{% block bootstrap3_title %} {{ text.title }} {% endblock %}

{% block bootstrap3_extra_head %}
    <link rel="stylesheet" href="{% static 'star-ratings/css/star-ratings.css' %}">
    <script type="text/javascript" src="{% static 'star-ratings/js/dist/star-ratings.min.js' %}"></script>
{% endblock %}

{% block bootstrap3_content %}

    <div id="container" class="container" >
        <h2>{{ text.type.header }}</h2>
        <div class="row">
            <div class="col-md-8">
                <h3>{{ text.title }}</h3>
                <div id="improvetext" style="border-bottom: 1px solid #DFDFDF; padding: 35px; box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);">
                    {{ text.body|safe }}
                </div>
            </div>

            <div class="col-md-4" id="improvetext">
                <h3>{{ text.type.rating_header }}</h3>
                {% for question in text.type.question_set.all %}
                    <h4>{{ question.question }}</h4>
                    {% ratings text question %}
                {% endfor %}
            </div>

        </div>

        <div class="row">

            <div class="col-md-8" id="improvetext">
                <h3>{{ text.type.comment_header }}</h3>
                {% render_comment_form for text %}
            </div>

        </div>
        <div class="row">

            <div class="col-md-8" id="improvetext">
                <h3>Reacties</h3>
                {% render_comment_list for text %}
            </div>

        </div>
    </div>

{% endblock %}